[submodule "xclaw-plugins"]
	path = xclaw-plugins
	url = https://github.com/xdev-asia-labs/xclaw-plugins.git
[submodule "his-mini"]
	path = his-mini
	url = https://github.com/xdev-asia-labs/xclaw-demo-integration-app.git
